<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test parallel="methods" thread-count="4" verbose="2" preserve-order="true" name="C:/UCSC/march2024_day04">
        <classes>
            <class name="com.ucsc.automationcc.ParallelDemo">
                <methods>
                    <include name="method1"/>
                    <include name="method2"/>
                    <include name="method3"/>
                    <include name="method4"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>